<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.Name %> (Store) - Pulsey Development</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.0.9/css/boxicons.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white">
    <%- include('partials/navbar.ejs') %>
    <div class="pt-20 container mx-auto px-4">
        <h1 class="text-2xl font-bold mb-4 text-center">Product Details</h1>

        <div class="rounded overflow-hidden shadow-lg bg-gray-800 p-6 mb-4">
            <h2 class="font-bold text-xl mb-2"><%= product.Name %></h2>
            <p class="text-gray-300 mb-2">Description: <%= product.Description %></p>
            <p class="text-gray-300 mb-2">Price: $<%= product.Price %></p>
            <p class="text-gray-300 mb-4">Tag: <%= product.Tag %></p>
            <button onclick="addToCart('<%= product._id %>')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <i class='bx bx-cart'></i> Add to Basket
            </button>
        </div>

        <div class="image-container mb-4">
            <% if (images && images.length > 0) { %>
                <div class="grid md:grid-cols-3 gap-4">
                    <% images.forEach((image, index) => { %>
                        <% if (image && image.data) { %>
                            <div class="image-wrapper rounded overflow-hidden shadow-lg" onclick="expandImage(`data:image/png;base64, <%= image.data %>`)">
                                <img src="data:image/png;base64, <%= image.data %>" alt="Product Image" class="w-full h-full object-cover">
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            <% } else { %>
                <p class="text-center text-gray-500">No images available.</p>
            <% } %>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>

    <div id="toaster" class="fixed bottom-0 right-0 mb-4 mr-4 p-4 bg-blue-500 text-white rounded opacity-0 transition-opacity duration-300"></div>

    <script>
        function addToCart(productId) {
            fetch('/api/v1/add-cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId: productId }),
            })
            .then(async response => {
                if (!response.ok) {
                    const errorResponse = await response.json();
                    throw new Error(errorResponse.error);
                }
                return response.json();
            })
            .then(data => {
                showToast(data.message);
            })
            .catch((error) => {
                showToast(error.message, true);
            });
        }
        
        function showToast(message, isError = false) {
            const toaster = document.getElementById('toaster');
            toaster.textContent = message;
            toaster.className = `fixed bottom-0 right-0 mb-4 mr-4 p-4 rounded opacity-100 transition-opacity duration-300 ${isError ? 'bg-red-500' : 'bg-blue-500'} text-white`;
            setTimeout(() => {
                toaster.style.opacity = '0';
            }, 3000);
        }
    </script>
</body>
</html>